.clients {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin: -15px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0;
  }
}

.clients__item {
  margin: 15px;

  @media screen and (min-width: 1200px) {
    margin: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  padding-bottom: 0;

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  border: 1px solid var(--icons-color);
  color: var(--icons-color);
  box-sizing: border-box;
  border-radius: 4px;
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
