.hero {
  position: relative;

  max-width: 1600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url(../images/hero-img/mobile-hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(47, 48, 58, 0.4);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
    (max-width: 480px),
    screen and (min-resolution: 192dpi) and (min-width: 480px),
    (max-width: 480px),
    screen and (min-resolution: 2dppx) and (min-width: 480px),
    (max-width: 480px) {
    & {
      background-image: url(../images/hero-img/mobile-hero-img@2x.jpg);
      background-size: cover;
      padding-top: 118px;
      padding-bottom: 118px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      background-image: url(../images/hero-img/tablet-hero-img.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    & {
      background-image: url(../images/hero-img/tablet-hero-img@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      background-image: url(../images/hero-img/desktop-hero-img.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    & {
      background-image: url(../images/hero-img/desktop-hero-img@2x.jpg);
    }
  }
}

.hero__title {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  @media screen and (max-width: 768px) {
    width: 360px;
    height: 84px;

    font-size: 26px;
    line-height: 1.61;
  }

  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  height: 120px;
}

.hero__button {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
