.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input {
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.form__textarea {
  display: block;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.form__input--frame {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  fill: #000000;
  transform: translateY(-50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .form__icon {
  fill: var(--accent-color);
  transform: translateY(-50%);
}

/*ЧЕКБОКС*/
.form__field--checkbox {
  /*Выравнивание поля*/
  display: flex;
  justify-content: center;
  text-align: center;
}

.form__input--checkbox {
  /*Скрыли браузерный чекбокс*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &:checked + .form__label--checkbox::before {
    /*Активный чекбокс*/
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    border: 2px solid var(--accent-color);
  }

  &:focus + .form__label--checkbox::before {
    /*Чекбокс при фокусе - синяя рамка*/
    border: 2px solid var(--accent-color);
  }
}

.form__label--checkbox {
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71px;
  }
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  cursor: pointer;

  &::before {
    display: inline-block;
    content: " ";
    width: 16px;
    height: 15px;
    margin-right: 8.4px;

    background-color: transparent;
    border: 2px solid var(--title-text-color);
    border-radius: 1px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

.form__link {
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71px;
  }

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-color);
}

.form__button {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 55px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
