.directions__title,
.team__title,
.clients__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.directions__title {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.team__title,
.clients__title {
  @media screen and (max-width: 768px) {
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 30px;
  }
}
