:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --secoundary-background-color: #f5f4fa;
  --icons-color: #afb1b8;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --logo-font: Raleway, sans-serif;
}
